Repository frgul006/control-freak-paradise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(clI): wip
  apps/cli/.eslintrc.cjs
  apps/cli/package.json
  apps/cli/src/check/check.ts
  apps/cli/src/index.ts
  apps/cli/tsconfig.json
  package.json
  packages/tsconfig/cli.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(cli): fix tests
  apps/cli/package.json
  apps/cli/src/check/check.spec.ts
  apps/cli/src/check/check.ts
  apps/cli/tsconfig.spec.json
  package.json
  packages/jest-presets/jest/node/jest-preset.js
  yarn.lock
Due: prettier --write, eslint --fix

feat(cli): use dotenv for cli
  .env.sample
  .gitignore
  README.md
  apps/cli/package.json
  apps/cli/src/check.ts
  apps/cli/src/index.ts
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(github): fix workflow
  .github/workflows/node.js.yml
Due: prettier --write

fix(cli): add build output to gitignore
  apps/cli/.gitignore
Due: none

fix(cli): remove unnecessary linting rule
  packages/eslint-config/cli.js
Due: prettier --write, eslint --fix

fix(cli): keep bin folder on cleanup
  apps/cli/package.json
Due: prettier --write

fix(cli): remove build output from source control
  apps/cli/bin/.gitkeep
  apps/cli/bin/check.d.ts
  apps/cli/bin/check.d.ts.map
  apps/cli/bin/check.js
  apps/cli/bin/index.d.ts
  apps/cli/bin/index.d.ts.map
  apps/cli/bin/index.js
Due: prettier --write, eslint --fix

fix(apps): remove redundant package.json
  apps/README.md
  apps/package.json
Due: prettier --write

feat(cli): wrap things up
  .github/workflows/node.js.yml
  .vscode/settings.json
  apps/api/package.json
  apps/cli/bin/.gitkeep
  apps/cli/package.json
  apps/cli/src/check.ts
  apps/cli/src/check/check.spec.ts
  apps/cli/src/check/check.ts
  apps/cli/src/check/runCommand.ts
  apps/cli/src/index.ts
  apps/docs/package.json
  apps/web/package.json
  package.json
  tools.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,yaml,yml})
  eslint --fix: any of: *.{ts,js}
