Repository frgul006/control-freak-paradise: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["prettier --write", "eslint --fix"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

build(yarn): include yarn releases
  .gitignore
  .yarn/releases/yarn-3.4.1.cjs
  README.md
Due: none

style(yarn): do not track diff in yarn binaries
  .gitattributes
  README.md
Due: none

chore(root): move dependencies to devDepencies CFP-0000
  package.json
Due: prettier --write

chore(ui): get eslint going CFP-0000
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: prettier --write

feat: add cra example app
  .eslintrc.js
  .gitignore
  README.md
  apps/docs/.eslintrc.js
  apps/docs/package.json
  apps/web/.gitignore
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/public/favicon.ico
  apps/web/public/index.html
  apps/web/public/logo192.png
  apps/web/public/logo512.png
  apps/web/public/manifest.json
  apps/web/public/robots.txt
  apps/web/src/App.css
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/index.tsx
  apps/web/src/logo.svg
  apps/web/src/react-app-env.d.ts
  apps/web/src/reportWebVitals.ts
  apps/web/src/setupTests.ts
  apps/web/tsconfig.json
  package.json
  packages/eslint-config-cfp-next/index.js
  packages/eslint-config-cfp-next/package.json
  packages/eslint-config-cfp-react/index.js
  packages/eslint-config-cfp-react/package.json
  packages/eslint-config-cfp/index.js
  packages/eslint-config-cfp/package.json
  packages/tsconfig/react-app.json
  packages/ui/.eslintrc.js
  packages/ui/index.tsx
  packages/ui/package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

build: add clean script
  package.json
  scripts/clean.sh
Due: prettier --write

build: add default vscode jest settings
  .vscode/settings.json
Due: prettier --write

chore: move things around CFP-0011
  apps/web/package.json
  packages/eslint-config-cfp-react/index.js
  packages/eslint-config-cfp-react/package.json
  packages/eslint-config-cfp/index.js
  packages/eslint-config-cfp/package.json
  packages/jest-presets/jest/node/jest-preset.js
  packages/jest-presets/package.json
  packages/logger/.eslintrc.js
  packages/logger/jest.config.js
  packages/logger/package.json
  packages/logger/src/index.spec.ts
  packages/logger/src/index.ts
  packages/logger/tsconfig.json
  packages/logger/tsconfig.spec.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/Button.tsx
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(api): add new api
  apps/api/.eslintrc.js
  apps/api/jest.config.ts
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/server.spec.ts
  apps/api/src/server.ts
  apps/api/tsconfig.json
  apps/api/tsconfig.spec.json
  package.json
  packages/eslint-config-cfp-server/index.js
  packages/eslint-config-cfp-server/package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

docs(readme): update readme
  README.md
Due: none

ci: add basic flow
  .github/workflows/node.js.yml
Due: prettier --write

fix(jest): remove duplicate jest config for api
  apps/api/jest.config.ts
Due: prettier --write, eslint --fix

docs(readme) fix typo in readme
  README.md
Due: none

fix(cli): remove unnecessary linting rule
  packages/eslint-config/cli.js
Due: prettier --write, eslint --fix

fix(apps): remove redundant package.json
  apps/README.md
  apps/package.json
Due: prettier --write

fix(cli): remove build output from source control
  apps/cli/bin/.gitkeep
  apps/cli/bin/check.d.ts
  apps/cli/bin/check.d.ts.map
  apps/cli/bin/check.js
  apps/cli/bin/index.d.ts
  apps/cli/bin/index.d.ts.map
  apps/cli/bin/index.js
Due: prettier --write, eslint --fix

fix(cli): add build output to gitignore
  apps/cli/.gitignore
Due: none

fix(cli): keep bin folder on cleanup
  apps/cli/package.json
Due: prettier --write

feat(cli): use dotenv for cli
  .env.sample
  .gitignore
  README.md
  apps/cli/package.json
  apps/cli/src/check.ts
  apps/cli/src/index.ts
  package.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

build(yarn): resolve eslint to 8.35.0
  package.json
  yarn.lock
Due: prettier --write

feat(renovate): automerge
  renovate.json
Due: prettier --write

feat(cli): wrap things up
  .github/workflows/node.js.yml
  .vscode/settings.json
  apps/api/package.json
  apps/cli/bin/.gitkeep
  apps/cli/package.json
  apps/cli/src/check.ts
  apps/cli/src/check/check.spec.ts
  apps/cli/src/check/check.ts
  apps/cli/src/check/runCommand.ts
  apps/cli/src/index.ts
  apps/docs/package.json
  apps/web/package.json
  package.json
  tools.json
  turbo.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(github): fix workflow
  .github/workflows/node.js.yml
Due: prettier --write
